*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c6150;
  padding: 3rem 0;
}

/* SECTION FORM + TASK LIST */
.wrapper {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
}

/* ==================================================== */
/* ================ SECTION FORMULAIRE ================ */
form {
  position: relative;
  font-size: 1.5rem;
}

.formTask > label {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  width: 100%;
  cursor: none;
  z-index: -1;
  text-align: left;
  color: #fff;
  transition: all .2s ease-in-out;
}

.formTask > input {
  background-color: #02221b7a;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, .1);
  padding: 2rem 2rem;
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
}

.formTask > input:hover,
.formTask > input:focus,
.formTask > input:active {
  box-shadow: inset 0 0 25px rgba(0, 0, 0, .5);
}

/* REMOVE PRE-FILL CSS */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #02221b7a !important;
  -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, .5) !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* ANIMATION LABEL */
.formTask > input:focus ~ label,
.formTask > input:valid ~ label {
  top: 15px;
  left: 15px;
  font-size: .8rem;
}

/* ==================================================== */
/* ================ SECTION TODOLIST ================ */
.todo__title {
  font-size: 1.5rem;
  margin: 5rem 0 2rem;
  text-align: left;
  color: #fff;
  padding: 0.5rem 0;
  border-bottom: solid 1px #fff;
}

.todo__tasks-task {
  text-align: left;
  padding: 1.5rem 1rem;
  background-color: #d7d7d7;
  border-radius: 0.3rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.todo__tasks-task > input,
.todo__tasks-task > label {
  vertical-align: middle;
}

.todo__tasks-task > input {
  cursor: pointer;
  margin-right: 1rem;
}

/* Task completed */
.task-completed {
  opacity: .4;
}

.task-completed > label {
  text-decoration: line-through;
}